body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto 0 auto;
}

/* Studio Page */

/* Header menu section */

.header-section {
  width: 1200px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-right: 50px;
  line-height: 2;
}

.logo-web {
  color: #2196f3;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu-item {
  margin: 0 25px 0 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.contacts-header {
  display: flex;
  list-style: none;
  margin-left: 280px;
}

.contacts-item-header {
  margin: 0 0 0 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-align: right;
}

/* Slider section */

.hero-section {
  background-color: #2f303a;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 210px 0 210px 0;
}

.hero-h1 {
  width: 900px;
  margin: auto;
}

.button {
  border-style: none;
  background-color: #2196f3;
  color: white;
  padding: 10px 32px 10px 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Advantages section */

.advantages-section {
  width: 1200px;
  margin: 0 auto 0 auto;
}

/*
.advatages-h2 {
  display: none;
}
*/

.advantages-list {
  display: flex;
  list-style: none;
}

/* What we do section */

.what-we-do-section {
  width: 1200px;
  margin: 0 auto 0 auto;
}

.what-we-do-list {
  display: flex;
  list-style: none;
}

/* Team section */

.team-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 1200px;
}

.team-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

/* Footer section */

.footer {
  background-color: #2f303a;
  color: white;
}

.footer-contacts {
  text-decoration: none;
}
.footer-contacts-list {
  list-style: none;
}

.footer-contact-item {
  text-decoration: none;
}

/* Portfolio Page */

.tabs-row {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.tab-item {
  cursor: pointer;
}

.cases-grid {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 1200px;
}
